USE [master]
GO
/****** Object:  Database [HctStudent_2410900073_Db]    Script Date: 26/09/2026 09:54:01 ******/
CREATE DATABASE [HctStudent_2410900073_Db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HctStudent_2410900073_Db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HctStudent_2410900073_Db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HctStudent_2410900073_Db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HctStudent_2410900073_Db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HctStudent_2410900073_Db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HctStudent_2410900073_Db]
GO
/****** Object:  Table [dbo].[HctStudent]    Script Date: 26/09/2026 09:54:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HctStudent](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[HctName] [nvarchar](100) NOT NULL,
	[HctGender] [bit] NULL,
	[HctBirthDay] [date] NULL,
	[HctEmail] [varchar](100) NULL,
	[HctPhone] [char](15) NULL,
	[HctActive] [bit] NOT NULL,
 CONSTRAINT [PK_HctStudent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HctStudent] ADD  DEFAULT ((1)) FOR [HctActive]
GO
USE [master]
GO
